<?php
if (! isset($block)) {
    throw new Exception('$block not set');
}
/** @var \Fasterize\Magento2\ViewModel\Cache $viewModel */
$viewModel = $block->getViewModel();
?>
<?php if ($viewModel->isBlockDisplayable()): ?>
<div class="fasterize-cache-system">
    <h3>
        <span><?= /* @noEscape */ __('Fasterize Cache Management'); ?></span>
    </h3>
    <form action="<?= /* @noEscape */ $viewModel->getCleanByStoreUrl(); ?>" method="post" class="fasterize_clean_form">
        <input type="hidden" name="form_key" value="<?= /* @noEscape */ $viewModel->getFormKey(); ?>">
        <table class="form-list">
            <tr>
                <td class="scope-label">
                    <button type="submit" class="scalable">
                        <span><?= /* @noEscape */ __('Clean Fasterize cache for this store'); ?></span>
                    </button>
                </td>
                <td>
                    <select name="stores" class="required-entry admin__control-select local-validation">
                        <?php foreach ($viewModel->getStoreOptions() as $store): ?>
                            <option value="<?= /* @noEscape */ $store->getId(); ?>">
                                <?= /* @noEscape */ $store->getName(); ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
        </table>
    </form>

    <form action="<?= /* @noEscape */ $viewModel->getPurgeAllUrl(); ?>" method="post" class="fasterize_clean_form">
        <input type="hidden" name="form_key" value="<?= /* @noEscape */ $viewModel->getFormKey(); ?>">
        <table class="form-list">
            <tr>
                <td class="scope-label">
                    <button type="submit" class="scalable">
                        <span><?= /* @noEscape */ __('Clean Fasterize cache for all store'); ?></span>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/x-magento-init">
   {
       "*": {
           "Magento_Ui/js/core/app": {
               "components": {
                   "additional": {
                       "component": "Fasterize_Magento2/js/cache/management"
                   }
                }
           }
       }
   }
</script>
<?php endif; ?>
